<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Reading books</title>
    <link rel="shortcut icon" type="image/svg" href="{{'../favicon.ico'}}">
  </head>
  <body>
    <div style="margin-left: 15px; margin-top: 15px;" >
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if current == 1 %}
            <li class="page-item disabled">
          {% else %}
            <li class="page-item">
          {% endif %}
              <a class="page-link" href="../pages/index{{current - 1}}.html">Previous</a>
            </li>

          {% for page in range(1, pages +1 ) %}
            {% if page == current %}
              <li class="page-item active">
            {% else %}
              <li class="page-item">
            {% endif %}
                <a class="page-link" href="{{ '../pages/index%s.html' | format(page)}}">{{ page }}</a>
              </li>
          {% endfor %}

          {% if current == pages %}
            <li class="page-item disabled">
          {% else %}
            <li class="page-item">
          {% endif %}
              <a class="page-link" href="../pages/index{{current + 1}}.html">Next</a>
            </li>
        </ul>
      </nav>
    </div>
    <hr/>
    <div class="container">
      {% for books in books %}
      <div class="row">
        {% if books[0] %}
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ '../Covers/%s.jpg' | format(books[0].title) }}" class="card-img" alt="{{ books[0].title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ books[0].title }}</h5>
                    <p class="card-text">{{ books[0].author }}</p>

                    {% for genre in books[0].genres%}
                      <p class="card-text"><span class="badge badge-secondary">{{ genre }}</span></p>
                    {% endfor %}

                    <a href="{{ '../Books/%s.txt' | format(books[0].title) | urlencode}}" target="_blank" rel="noopener noreferrer">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if books[1] %}
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ '../Covers/%s.jpg' | format(books[1].title) }}" class="card-img" alt="{{ books[1].title }}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ books[1].title }}</h5>
                    <p class="card-text">{{ books[1].author }}</p>

                    {% for genre in books[1].genres%}
                      <p class="card-text"><span class="badge badge-secondary">{{ genre }}</span></p>
                    {% endfor %}

                    <a href="{{'../Books/%s.txt' | format(books[1].title) | urlencode}}" target="_blank" rel="noopener noreferrer">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% else %}
        <div class="col"></div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../static/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>